* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

/* navbar */
.navb{
    height: 80px;
    padding: 0px;
}

@media only screen and (max-width: 460px) {
    .navb {
        text-align: center;
        display: block;
    }
}

/* navbar */
/* op */
.op h2 {
    color: black;
    font-family: "arial";
    text-align: center;
    font-size: 4rem;
    display: block;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: animtext 4s steps(80, end);
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.opp h2 {
    color: black;
    font-family: "arial";
    width: 100%;
    text-align: center;
    font-size: 4rem;
    display: none;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    animation: animtext 4s steps(80, end);
    transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext {
    from {
        width: 0;
        transition: all 2s ease-in-out;
    }
}

@media only screen and (max-width: 960px) {
    .op h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 680px) {
    .op {
        display: none;
    }

    .opp h2 {
        display: block;
    }
}

@media only screen and (max-width: 460px) {
    .opp h2 {
        font-size: 3rem;
    }
}

/* op */
/* main */
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.shadow{
    box-shadow: 4px 1rem 1rem 7px rgb(0 0 0 / 15%) !important;
}
.file-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.file-icon img{
    width: 75px;
    position: absolute;
    transition: transform .500ms ease-in-out;
}
.file-icon .mid{
    z-index: 2;
}
#fileinput{
    display: none;
}
.file-upload{
    position: relative;
    margin-top: 150px;
}
.title{
    position: relative;
    font-weight: bold;
}
.dragged .file-icon .right{
    transform: rotate(10deg) translateX(10px) scale(.9);
    transform-origin: bottom;
}
.dragged .file-icon .left{
    transform: rotate(-10deg) translateX(-10px) scale(.9);
    transform-origin: bottom;
}
.dragged .file-icon .mid{
    transform: translateY(-5px);
    
}
.browsebtn{
    cursor: pointer;
}
/* main */
/* about */
.aboutus-section {
    padding: 90px 0;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.icon {
    color: #f4b841;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}


/* about */
/* footer */
.connect {
    font-size: 20px;
}

.icons a i {
    font-size: 30px;
}

/* footer */